body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #a3ffce;
}

header {
    background-color: #f38bee;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

nav .logo {
    font-size: 1.5rem;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

nav ul li a:hover {
    background-color: #80f3f3;
    border-radius: 5px;
}

main {
    padding: 2rem;
}

.course-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.course {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 1rem;
    width: calc(33% - 2rem);
    box-shadow: 0 0 10px #52d6891a;
}

footer {
    background-color: #fafffc;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #adb3ba;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #f9f9ff;
  }
  section {
    background: #fff;
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
code {
    font-size: 18px;
}
